<ion-header>
    <ion-navbar>
      <ion-title>
        Walden Mobile
      </ion-title>

      <ion-buttons start *ngIf="!connected">
          <button ion-button color="dark" icon-only item-left  (click)="navCtrl.push('ConfigPage')">
            <ion-icon name="cog"></ion-icon>
          </button>
        </ion-buttons>


      <ion-buttons end>
        <button ion-button (click)="scan()">
          Scan
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>  <br><br>


        <ion-card >
        <ion-row >
         
          <ion-item *ngIf="!discovered"><h1>Searching for cushion...</h1></ion-item>
          <ion-item *ngIf="discovered && !connected"><h1>Cushion found!</h1></ion-item>
          <ion-item *ngIf="connected"><h1>Walden cushion connected!</h1></ion-item>
        </ion-row>
        <ion-row>
          <ion-col>
          <button ion-button large round color="secondary" (click)="connectDevice();" >Connect</button>
        </ion-col>
        <ion-col>
            <button ion-button large round color="danger" (click)="onDeviceDisconnected(peripheral)" >Disconnect</button>
          </ion-col>
       
      </ion-row>
  
    </ion-card >

    <ion-item no-lines *ngIf="!meditationStarted && connected">
      <br><br>
      <h1>Waiting to begin meditation...</h1>
    </ion-item>

      <ion-item *ngIf="meditationStarted">
        <ion-grid  >
          <ion-row justify-content-center>
            <h1>Beginning Meditation!</h1>
          </ion-row>
          <ion-row justify-content-center>
              <img style="height:150px;width:200px;" src="assets/imgs/meditating.png">
          </ion-row>
         <ion-row justify-content-center>
            <h1>
              {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
            </h1>
         </ion-row>

        </ion-grid>
      </ion-item>


</ion-content>


<ion-footer  *ngIf="connected">

    <ion-toolbar>
              

          <ion-grid>
            <ion-row align-items-center>
              <ion-col>
                  Pressure reading: {{reading}}
              </ion-col>
            </ion-row>
          </ion-grid>
            
         
      </ion-toolbar>

    </ion-footer> 